body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.titleImg {
  width: 100%;
  max-height: 375px;
}

nav ul {
  background-color: rgb(106	168	200);
  margin: -10px 0 0 0;
  padding: 20px;
  display: block;
}

nav li {
  display: inline;
  padding: 30px;
}

.gallery {
  width: unset;
  margin: 50px;
}

.content li {
  display: inline;
}

.rooms {
  width: 400px;
}


.imgBlock {
  float: left;
}

.copyBlock {
  /* display: inline; */
  float: left;
}

.infoBlock {
  clear: both;

}
