body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 1.5em;
}

.content {
  width: 60%;
  margin: auto;
}

.titleImg {
  width: 100%;
  max-height: 375px;
}

nav ul {
  background-color: rgb(149	198	109);
  margin: -10px 0 20px 0;
  padding: 20px;
  display: block;
}

nav li {
  display: inline;
  padding: 30px;
  font-family: cursive;
}

nav li a {
  text-decoration: none;
}

.gallery {
  width: 100%;
  margin: 50px;
}

.content li {
  display: inline;
}

.rooms {
  width: 400px;
}


.imgBlock {
  float: left;
}

.copyBlock {
  /* display: inline; */
  float: left;
}

.infoBlock {
  clear: both;

}
